Fase de descarga de información:

Es necesario instalar el lector de páginas web de pandas:

In [51]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\programdata\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (1.3.4)
Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: numpy>=1.17.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.2)

Importamos la librería de pandas:

In [52]:
import pandas as pd

Acá 'pandas datareader' hará la búsqueda en internet con las palabras que nosotros le proveemos para la búsqueda:

In [53]:
from pandas_datareader import wb
# matches = wb.search('gdp.*capita.*const')

Acá es imprescindible conocer el "indicador" en el sitio web de donde estamos obteniendo la información.
https://data.worldbank.org/indicator/NY.GDP.PCAP.KD

Le instruimos que busque el PIB per cápita

METADATOS:
Indicator Code = NY.GDP.PCAP.KD
Indicator Name = PIB per cápita (US$ a precios actuales)

In [54]:
data_gdp = wb.download(indicator='NY.GDP.PCAP.KD', country=[], start=1960, end=2020)

Imprimimos para verificar:

In [55]:
print(data_gdp)

                                  NY.GDP.PCAP.KD
country                     year
Africa Eastern and Southern 2020     1418.380523
                            2019     1499.256275
                            2018     1507.861055
                            2017     1507.821357
                            2016     1501.671310
...                                          ...
Zimbabwe                    1984     1479.935680
                            1983     1564.916121
                            1982     1597.890117
                            1981     1614.210099
                            1980     1486.218998

[10906 rows x 1 columns]

In [ ]:
# Esta es una forma de consultar países en particular
# data_gdp = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA', 'MX'], start=1980, end=2020)

Ahora procedemos a descargar "Esperanza de vida".

METADATOS:
Indicator Code = SP.DYN.LE00.IN
Indicator Name = Esperanza de vida al nacer, total (años)

In [66]:
data_life = wb.download(indicator='SP.DYN.LE00.IN', country=[], start=1960, end=2020)
print(data_life)

                                  SP.DYN.LE00.IN
country                     year
Africa Eastern and Southern 2020             NaN
                            2019       64.005197
                            2018       63.648988
                            2017       63.246264
                            2016       62.787681
...                                          ...
Zimbabwe                    1984       61.280000
                            1983       61.025000
                            1982       60.650000
                            1981       60.203000
                            1980       59.731000

[10906 rows x 1 columns]

Procedemos a descargar la información de mortalidad infantil

METADATOS:
Indicator Code = SH.DYN.NMRT 
Indicator Name = Tasa de mortalidad, neonatal (por cada 1.000 nacidos vivos)

In [57]:
data_mort = wb.download(indicator='SH.DYN.NMRT', country=[], start=1960, end=2020)
print(data_mort)

                                  SH.DYN.NMRT
country                     year
Africa Eastern and Southern 2020          NaN
                            2019    24.387831
                            2018    24.938211
                            2017    25.480369
                            2016    26.014181
...                                       ...
Zimbabwe                    1984    28.500000
                            1983    29.300000
                            1982    30.200000
                            1981    31.100000
                            1980    31.800000

[10906 rows x 1 columns]

Procedemos a descargar la información de población

METADATOS:
Indicator Code = SP.POP.TOTL
Indicator Name = Población, total

In [58]:
data_pop = wb.download(indicator='SP.POP.TOTL', country=[], start=1960, end=2020)
print(data_pop)

                                  SP.POP.TOTL
country                     year
Africa Eastern and Southern 2020  677243299.0
                            2019  660046272.0
                            2018  643090131.0
                            2017  626392880.0
                            2016  609978946.0
...                                       ...
Zimbabwe                    1984    8562259.0
                            1983    8254746.0
                            1982    7958239.0
                            1981    7675582.0
                            1980    7408630.0

[10906 rows x 1 columns]

Procedemos a combinar toda la información (PIB per cápita, Esperanza de vida, población y mortalidad infantil) en un solo "data frame" que utilizaremos de ahora en adelante

In [60]:
df1 = pd.concat([data_gdp, data_life.reindex(data_gdp.index), data_pop.reindex(data_gdp.index), data_mort.reindex(data_gdp.index)], axis=1)
df1

                                  NY.GDP.PCAP.KD  SP.DYN.LE00.IN  SP.POP.TOTL  \
country                     year
Africa Eastern and Southern 2020     1418.380523             NaN  677243299.0
                            2019     1499.256275       64.005197  660046272.0
                            2018     1507.861055       63.648988  643090131.0
                            2017     1507.821357       63.246264  626392880.0
                            2016     1501.671310       62.787681  609978946.0
...                                          ...             ...          ...
Zimbabwe                    1984     1479.935680       61.280000    8562259.0
                            1983     1564.916121       61.025000    8254746.0
                            1982     1597.890117       60.650000    7958239.0
                            1981     1614.210099       60.203000    7675582.0
                            1980     1486.218998       59.731000    7408630.0

                                  SH.DYN.NMRT
country                     year
Africa Eastern and Southern 2020          NaN
                            2019    24.387831
                            2018    24.938211
                            2017    25.480369
                            2016    26.014181
...                                       ...
Zimbabwe                    1984    28.500000
                            1983    29.300000
                            1982    30.200000
                            1981    31.100000
                            1980    31.800000

[10906 rows x 4 columns]

In [65]:
df = df1.dropna()
df

                                  NY.GDP.PCAP.KD  SP.DYN.LE00.IN  SP.POP.TOTL  \
country                     year
Africa Eastern and Southern 2019     1499.256275       64.005197  660046272.0
                            2018     1507.861055       63.648988  643090131.0
                            2017     1507.821357       63.246264  626392880.0
                            2016     1501.671310       62.787681  609978946.0
                            2015     1507.800256       62.259288  593871847.0
...                                          ...             ...          ...
Zimbabwe                    1984     1479.935680       61.280000    8562259.0
                            1983     1564.916121       61.025000    8254746.0
                            1982     1597.890117       60.650000    7958239.0
                            1981     1614.210099       60.203000    7675582.0
                            1980     1486.218998       59.731000    7408630.0

                                  SH.DYN.NMRT
country                     year
Africa Eastern and Southern 2019    24.387831
                            2018    24.938211
                            2017    25.480369
                            2016    26.014181
                            2015    26.601909
...                                       ...
Zimbabwe                    1984    28.500000
                            1983    29.300000
                            1982    30.200000
                            1981    31.100000
                            1980    31.800000

[7778 rows x 4 columns]